# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Crash logs
crash.log
crash.*.log

# Sensitive files
*.tfvars
*.tfvars.json

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


terrafrom-automate.pub
terrafrom-automate